body{
	background-color: #F2F2F2;
}
/* 模块一(头部视频) */
.model-1{
	position: relative;
}
.model-1 .middle{
	border-radius: 16px;
	margin-top: 2rem;
	width: 78%;
	position: absolute;
	left: 6.2rem;
	top: 6.5rem;
	color: #fff;
}
.model-1 .middle h1{
	font-size: 3.8rem;
	text-align: center;
	line-height: 8rem;
}
.model-1 .m-left>ul>li{
	width: 33.33333%;
	height: 10rem;
	float: left;
	text-align: center;
}
.model-1 .m-left>ul>li>h2{
	font-size: 3.3rem;
	line-height: 6rem;
}
.model-1 .m-left>ul>li>p{
	font-size: 2rem;
	color: #FFFFFF;
}

.video{
	height: 31rem;
	background-image: url(../images/干货切图/pic_25@3x.png);
	-webkit-background-size: cover;
	background-size: cover;
}
.video>span img{
	width: 48px;
	height: 48px;
}
.v-left{
	margin: 2rem;
	float: left;
	height: 5.5rem;
	width: 7.5rem;
}
.v-left>a>img{
	margin-left: 1rem;
}
.v-left>a{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.v-right{
	margin: 2rem;
	float: right;
	height: 5.5rem;
	width: 7.5rem;
	text-align: center;
}
.video_info{
	/* height: 18rem; */
	background-color: #fff;
	padding: 32px 32px 76px 32px;
	font-size:2.5rem;
	position: relative;
	color: #ABABAB;
}
.video_info>a{
	position: absolute;
	bottom: 17px;
	left: 38%;
	color: #FAED4D;
}
/* 模块二(动作视频) */
.model-2{
	padding:32px;
	overflow: hidden;
	height: 22rem;
	width: 100%;
	margin-top: 1rem;
	margin-bottom: 1rem;
	background-color: #fff;
	/* position: relative; */
}
.model-2>h3{
	font-weight: bold;
	height: 5rem;
	font-size: 2.7rem;
	line-height: 5rem;
	margin-bottom: 1rem;
}
.swiper-container-k .swiper-slide{
	margin-right: 1.5rem !important;
}
.swiper-container-k .swiper-slide:nth-child(3n){
	width: 100px !important;
	height: 200px;
	background-color: #F2F2F2;
	margin:0 2rem 0 1rem !important;
	border-radius: 20px;
	font-size: 2rem;
	text-align: center;
}
.swiper-container-k .swiper-slide:nth-child(3n)>p:nth-child(1){
	margin-top: 3rem;
	color: #9B9B9B;
}
.swiper-container-k .swiper-slide:nth-child(3n)>p:nth-child(2){
	margin-top: 2rem;
	color: #4A4A4A;
}
.swiper-container-k .swiper-slide img{
	border: 1px solid #000;
	border-radius: 20px;
}

/* -- 模块三区域 三条独白 */
.model-3{
	background-color: #fff;
}
.model-3 ul li{
	padding: 0 32px 32px 32px;
	border-bottom: 2px solid #F2F2F2;
}
.model-3 ul li:first-child{
	padding-top: 1rem;
}
.model-3 ul li h2{
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 100%;
	font-size: 3rem;
	text-align: center;
}
.model-3 ul li p{
	margin-bottom: 1rem;
	font-size: 2.5rem;
	color: #BBBBBB;
}

/* 模块四 区域 多少人正在努力训练 */
.model-4{
	margin-top: 2rem;
}
.model-4 ul li{
	width: 100%;
	/* height: 16rem; */
	background-color: #fff;
	border-bottom: 2px solid #ccc;
	padding: 32px;
	font-size: 2.2rem;
}
.model-4 ul li:first-child{
	height: 15rem;
	position: relative;
}
/* 跳转的链接 右箭头 >*/
.model-4 ul li:first-child>a{
	position: absolute;
	width: 5rem;
	height: 6rem;
	right: 2.3rem;
	top: 5rem;
	text-align: center;
	line-height: 6rem;
}
.model-4 ul li:first-child>p:nth-child(2){
	color: #BBBBBB;
}
.model-4 ul li:first-child>p:first-child{
	font-size: 3.4rem;
	margin-bottom: 2rem;
}
.model-4 ul li:first-child>p:first-child>span{
	font-size: 4rem;
}
.model-4 ul li .left{
	float: left;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	margin-right: 2rem;
	border: 1px solid #e0caca;
	/* box-sizing:border-box; */
	overflow: hidden;
	margin-top: 1rem;
}
.model-4 ul li .left>img{
	width: 5rem;
	height: 5rem;
	
}
.model-4 ul li .middle{
	float: left;
	width: 76%;
  background-color: #fff;
}
.model-4 ul li .middle>p{
	margin: 2rem 0;
}
.model-4 ul li .middle>p:nth-child(2){
	color: #BBBBBB;
}

/* 爱心点赞------------------------------------------- */
.model-4 ul li .right{
	float: right;
	position: relative;
}
.heart {
    background: url(../images/web_heart_animation.png);
    background-position: left;
    background-repeat: no-repeat;
    height: 140px;
    width: 140px;
    cursor: pointer;
    position: absolute;
    left:-36px;
    top:-21px;
    background-size:cover;
}
.heart:hover, .heart:focus{
background-position: right;
}

@-webkit-keyframes heartBlast {
0% {
    background-position: left;
}
100% {
    background-position: right;
}
}

@keyframes heartBlast {
    0% {
    background-position: left;
}
100% {
    background-position: right;
}
}
.heartAnimation {
display: inline-block;
-webkit-animation-name: heartBlast;
animation-name: heartBlast;
-webkit-animation-duration: .8s;
animation-duration: .8s;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
-webkit-animation-timing-function: steps(28);
animation-timing-function: steps(28);
background-position: right;
}
.feed{ margin-bottom: :20px; height: 150px; position: relative;}
.likeCount{ margin-top: 35px;margin-left: 68px;font-size: 30px;color: #999999}


/* 模块五相关训练视频 */
/* 课程列表 */
.model-5 .list{
	padding: 0 2rem;
	width: 100%;
	height: 100%;
	background-color: #fff;
	margin-top: 2rem;
	
}
.model-5 .list>h1{
	padding-top: 22px;
	font-size: 3.4rem;
}
.model-5 .list>li:last-child{
	margin-bottom: 9.4rem;
}
.model-5 .list>li{
	width: 100%;
	height: 20rem;
	border-radius: 1rem;
	background-color: pink;
	margin-top: 1.5rem;
		color: #fff;
}
.model-5 .one{
	display: inline-block;
	width: 100%;
	height: 6rem;
	font-size: 4rem;
	margin-top: 2rem;
	margin-left: 2rem;
}
.model-5 .two{
	display: inline-block;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	margin-top: 0.5rem;
	margin-left: 2rem;
}
.model-5 .three{
	display: inline-block;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	margin-top: 1.5rem;
	margin-left: 2rem;
}


/* 底部固定 栏 */
.takein{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 8rem;
	line-height: 8rem;
	width: 100%;
	background-color: #F8E71C;
	text-align: center;
	font-size: 3.3rem;
	
}
.takein>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #fff;
}
/* 分享模态框 */
.share{
	width: 100%;
	height: 100%;
	background-color: #00000054;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
.share>ul{
	width: 100%;
	height:31%;
	background-color: #fff;
	position: absolute;
	bottom: -27%;
	left: 0;
	z-index: 100000;
	transition:all 0.2s;
}
.share>ul>li{
	width: 14%;
	height: 35%;
	float: left;
	margin: 2.5rem 3rem 0 3.6rem;
	text-align: center;
}
.share>ul>li>span{
	font-size: 2rem;
	color: #393939;
	font-family: "HelveticaNeue";
}